{% extends 'base.html' %}

{% block head %} 
<title>Home</title>
{% endblock %}

{% block body %} 
<div id="form-main">
  <div id="form-div">
    <h1> What is Scansion</h1>
    <p>
      <h3>
        Scansion is the division of poetry or prose into stressed or unstressed sections. This scansion generator finds the stresses of the syllables in a line. Traditional 
        scansion would break these down further into feet, which would then be used to find the meter of the poem. 
      </h3>
    </p>
    
  </div>


  {% endblock %}
