{% extends 'base.html' %}

{% block head %} 
<title>Home</title>
{% endblock %}

{% block body %} 
<div id="form-main">
  <div id="form-div">
    <h1> Examples</h1>
    <div class="table-title">
      <h3>Road Not Taken</h3>
    </div>

    <div style="width: 100%;">
      <div style="width: 50%; height: 100px; float: left; background: green;"> 
        <p>        Two roads diverged in a yellow wood,
        And sorry I could not travel both
        And be one traveler, long I stood
        And looked down one as far as I could
        To where it bent in the undergrowth;</p>
        <p>        
        Then took the other, as just as fair,
        And having perhaps the better claim,
        Because it was grassy and wanted wear;
        Though as for that the passing there
        Had worn them really about the same,</p>
        <p>        And both that morning equally lay
        In leaves no step had trodden black.
        Oh, I kept the first for another day!
        Yet knowing how way leads on to way,
        I doubted if I should ever come back.</p>
        <p>        I shall be telling this with a sigh
        Somewhere ages and ages hence:
        Two roads diverged in a wood, and I—
        I took the one less traveled by,
        And that has made all the difference.</p>

      </div>



      <div style="margin-left: 50%; height: 100px; background: blue;"> 
        <table id="table">
          <tbody><tr>
            <th class="text-left">Lines</th>
            <th class="text-left"># Syllables</th>
    
        </tr>
            <tr>
              <td>TWO.ROADS|dive|RGED|in.a|YEL|low|WOOD</td>
              <td>9</td>
            </tr>
          
            <tr>
              <td>and|SOR|ry|I|could.not|TRA|vel|BOTH</td>
              <td>9</td>
            </tr>
          
            <tr>
              <td>and|BE|one|TRAVELE|r|LONG|i|STOOD</td>
              <td>8</td>
            </tr>
          
            <tr>
              <td>and|LOOKED|down|ONE|as|FAR|as|I|could</td>
              <td>9</td>
            </tr>
          
            <tr>
              <td>to|WHERE|it|BENT|in.the|UN|der|GROWTH</td>
              <td>9</td>
            </tr>
          
          
          
            <tr>
              <td>then|TOOK|the|OT|her.as|JUST|as|FAIR</td>
              <td>9</td>
            </tr>
          
            <tr>
              <td>and|HA|ving.per|HAPS|the|BET|ter|CLAIM</td>
              <td>9</td>
            </tr>
          
            <tr>
              <td>bec|AUSE|it.was|GRAS|sy.and|WAN|ted|WEAR</td>
              <td>10</td>
            </tr>
          
            <tr>
              <td>THOUGH|as.for|THAT|the|PAS|sing|THERE</td>
              <td>8</td>
            </tr>
          
            <tr>
              <td>had|WORN|them|REAL|ly.a|BOUT|the|SAME</td>
              <td>9</td>
            </tr>
          
          
          
            <tr>
              <td>and|BOTH|that|MOR|ning|E|qual.ly|LAY</td>
              <td>9</td>
            </tr>
          
            <tr>
              <td>in|LEAVES|no|STEP|had|TROD|den|BLACK</td>
              <td>8</td>
            </tr>
          
            <tr>
              <td>OH|i|KEPT|the|FIRST|for.a|NOT|her|DAY</td>
              <td>10</td>
            </tr>
          
            <tr>
              <td>yet|KNO|wing|HOW|way|LEADS|on.to|WAY</td>
              <td>9</td>
            </tr>
          
            <tr>
              <td>i|DOUB|ted.if|I|should|E|ver|COME|back</td>
              <td>10</td>
            </tr>
          
          
          
            <tr>
              <td>I|shall.be|TEL|ling|THIS|with.a|SIGH</td>
              <td>9</td>
            </tr>
          
            <tr>
              <td>SOM|ewhere|A|ges.and|A|ges|HENCE</td>
              <td>8</td>
            </tr>
          
            <tr>
              <td>TWO.ROADS|dive|RGED|in.a|WOOD|and|I</td>
              <td>9</td>
            </tr>
          
            <tr>
              <td>i|TOOK|the.one|LESS.TRAVELE|d|BY</td>
              <td>8</td>
            </tr>
          
            <tr>
              <td>and|THAT|has|MADE|all.the|DIFFERE|nce</td>
              <td>8</td>
            </tr>
          
          
      
          </tbody></table>
      </div>
      </div>
  </div>
    
  </div>


  {% endblock %}


  